@font-face {
    font-family: Anastasia;
    src: url("Anastasia.ttf");
}
*{
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
main{
    padding: 20px;
    background: #eee;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}
.hor{
    margin: 8px;
    width: 300px;
    height: 500px;
    background: aqua;
    display: inline-block;
    white-space: nowrap;
    overflow: auto;
}
.ver{
    margin: 5px;
    border: 1px solid;
    width: 280px;
    min-height: 30px;
    white-space: normal;
    overflow: auto;
}
.h-50{
    height: 50px;
}
.h-150{
    height: 150px;
}
p{
margin: 0 auto;
}
.bold{
    font-weight: 700;
    background: aquamarine;
}
.italic{
    font-style: italic;
    background: lightgrey;
}
.font_anastasia{
font-family: Anastasia, serif;
}
